<div class="container-fluid">
  <div id="map" class="map"></div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Geocode</h5>
          <form id="geocode">
            <input id="address" type="" name="address" placeholder="address">
            <input type="submit" name="">
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Subir restaurant</h5>
          <form id="form" >
            <label>Name:</label>
            <input id="name" type="" name="name" placeholder="Name">
            <label>Description:</label>
            <input id="description" type="" name="description" placeholder="Description">
            <label>Address</label>
            <input id="latitude" type="" name="latitude" placeholder="Latitude">
            <input id="longitude" type="" name="longitude" placeholder="Longitude">
            <input type="submit" name="">
          </form>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Search around</h5>
          <form id="search">
            <input id="maxDistance" type="" name="address" placeholder="search in meters">
            <input type="submit" name="">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('styles') %>
<style>
  #map {
    height: 300px;
  }
</style>

<%- contentFor('scripts') %>
<script>
  console.log('Tu codigo tiene que ir aqui')
</script>